.disclaimer {
    font-size: 5px;
    
}

div.bgcontainer{
    background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);


}
div.bgcart {
    margin-right: 70%;
    background: rgba(50,10,10,1);
 
    text-align: left;
}

.item {
    background:  rgba(30, 0,0.1);
}

* {
    color: rgba(250,250,0,0.8);
    
    font-size: 20px;
}

input {
    background-color: rgb(31, 26, 26);
    color: rgb(134, 7, 7);
}

input.buybutton {
    color: yellow;
    font-size: 30px;
    font-weight: 900;
}

input.removebutton {
    float: right;
}


